{% extends "base.html" %}

{% block title %}
صفحه ادمین
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/services-page.css') }}">

<section class="header-services-parent">
    <img src="{{ url_for('static', filename='image/design-inside-3.jpg') }}">


    <div class="background-kadr">
        <section class="right-line-jadval">
            <div class="tag-a-parent">
                <a href="{{ url_for('general.home') }}">خانه</a> <span><img
                        src="{{ url_for('static', filename='image/icon-left.jpg') }}"></span>
                <a href="#">خدمات</a> <span><img src="{{ url_for('static', filename='image/icon-left.jpg') }}"></span>

                <a class="service-title-color" href="#">{{ service.title }}</a>
                <!-- چون توی بک اند فقط یک کوِیری رو صدا زدیم پس نیاز به نوشتن حلقه نداره-->
            </div>

            <section class="center-img-article-parent">


                <article>
                    <h3>آنچه در این صفحه میخوانید</h3>
                    <ul>
                        <li><a href="#">بخش های طراحی تاسیسات مکانیکی</a></li>
                        <li><a href="#">مراحل طراحی تاسیسات مکانیکی</a></li>
                        <li><a href="#">نرم افزار های طراحی تاسیسات مکانیکی</a></li>
                        <li><a href="#">هزینه های طراحی تاسیسات مکانیکی</a></li>
                        <li><a href="#">مجوز های لازم قبل و بعد از طراحی تجهیزات مکانیکی</a></li>

                    </ul>
                </article>

                <div class="decoorasiooon-image">
                    <img src="{{ url_for('static', filename='image/decoorasiooon-3.png') }}">
                </div>

            </section>
        </section>


    </div>

    <section class="description-onder-page-parent">
        <div class="description">
            <h2>تاسیسات مکانیکی</h2>

            <div class="caption-1">
                <h3> بخش های طراحی تاسیسات مکانیکی</h3>
                <h4>طراحی سیستم تهویه</h4>

                <p>سیستم های تهویه منبع تغذیه از انواع فن ها برای تحت فشار قرار دادن فضاهایی همچون خانه ها استفاده می
                    کنند و هوای بیرون را به داخل ساختمان وارد می کنند در حالی که هوا از طریق سوراخ های پوسته، حمام و
                    کانال های فن محدوده و دریچه های به بیرون از ساختمان نشت می کند.

                    دما و رطوبت نسبی فضاهای مختلف ساختمان طبق توصیه­های اخذ شده از کتاب HANDBOOK APPLICATION ASHRAE
                    می­باشد. دراین کتاب راجع به محدوده آسایش افراد در مقابل دما، رطوبت و جریان هوا نوشته شده است و نتیجه
                    آن به صورت یک ناحیه روی منحنی سایکرومتریک چارت مشخص شده است. دما در محدوده آسایش بین 71 الی 80 درجه
                    فارنهایت (6/21 الی 6/26 درجه سانتیگراد ) و رطوبت نسبی بین 20 الی 70 درصد متغیر است.</p>
            </div>

            <div class="caption-2">
                <h3>مراحل طراحی تاسیسات مکانیکی</h3>
                <h4>طراحی سیستم های تهویه مطبوع</h4>

                <p>محاسبه بار گرما یا سرمایش، از جمله گرمای محسوس و نهان به همراه شیفت های هوایی لازم را با توجه به
                    تعداد نفرات داخل پروژه، پنجره ها، فعالیت ها و یا هر فرآیند خاص دیگری در نرم افزار هایی همچون
                    HAP-Carrier انجام داده و سپس با توجه به نیاز پروژه و انتخاب تجهیزات مورد نیاز جهت سرمایش، گرمایش و
                    تهویه هوا در نقشه ها جا نمایی می کنیم.

                    بار سرمایی ساختمان شامل بارهای خارجی، داخلی و هوای تازه می­باشد. بارهای سرمایی خارجی در اثر تابش
                    خورشید و هم­چنین اختلاف دمای هوای داخل و خارج ساختمان از طریق سطوح خارجی ساختمان به وجود می­آید.

                    بار­های سرمایی داخلی، بارهایی می­باشند که در داخل ساختمان تولید می­شوند، این بارها شامل حرارت پس
                    داده شده توسط بدن افراد، چراغ­ها و وسایل حرارت­زای داخل هستند.

                    بارهای گرمایی نیز مانند بارهای سرمایی می­باشند با این تفاوت که اثر تابش آفتاب وجود ندارد ولی درعوض
                    بارگرمایی آب گرم مصرفی باید درمحاسبه منظور گردد.</p>
                <h4>سیستم های آبرسانی</h4>
                <p>در این نوع از سیستم ها پس از بر اورد مقدار آب مورد نیاز و انتخاب پمپ های مناسب، به طراحی لوله کشی به
                    تجهیزات و وسائل مورد نیاز پرداخته می شود. در یک طراحی آبرسانی مواردی همچون فشار آب، نرخ جریان آب،
                    سرعت جریان و اندازه لوله راه حل های قابل قبول، طرح بندی سیستم، جریان برگشتی، مواد و مشخصات لوله در
                    نظر گرفته شود.

                    آب سرد مصرفی یک شبکه آشامیدنی است و باید همه مقررات بهداشتی و ایمنی مربوط به شرایط آب آشامیدنی در
                    مورد آن رعایت گردد. موارد استفاده آب سرد مصرفی به قرار زیر است:

                    مصرف وسایل و تجهیزات بهداشتی با توجه به استفاده کمتر نسبی آب در ایران در مقایسه با کشورهای اروپایی و
                    آمریکا هم­چنین توصیه­ها و آمار متفاوت، مقدار آب مصرفی را برابر 1000 لیتر در روز به ازای هر واحد
                    مسکونی در نظر می­گیریم؛ با توجه به تعداد واحدهای مسکونی ساختمان این مجموعه که 30 واحد میباشد، مقدار
                    کل آب سرد مصرفی مورد نیاز 30 مترمکعب در شبانه­روز خواهد گردید.</p>
                <h4>سیستم های فاضلاب و آب باران</h4>
                <p>اولین گام در طراحی یک سیستم فاضلاب، تعیین میزان فاضلابی است که باید حمل شود. این کار با تخمین جمعیت
                    منطقه مورد استفاده و همچنین میزان آب مصرفی برای هر نفر انجام می شود. پس از تعیین دبی فاضلاب، می توان
                    اندازه و شیب فاضلاب را محاسبه کرد.

                    اندازه فاضلاب با مقدار فاضلابی که برای حمل آن نیاز دارد تعیین می شود. لوله های فاضلاب به طور معمول
                    در مقطع دایره ای هستند و قطر لوله های فاضلاب با استفاده از استاندارد های تعیین شده در جداول مقررات
                    ملی ساختمان تعیین می شود. شیب فاضلاب نیز مهم است، زیرا تعیین کننده سرعت جریان فاضلاب است. شیب فاضلاب
                    معمولاً بین 1 تا 2 درصد است. (این شیب می بایست همواره کمتر از 4% باشد.)

                    برای رسیدگی به شبکه فاضلاب در انتهای هر انشعاب افقی و هم­چنین در مسیر لوله­های افقی طولانی مطابق
                    توصیه­های مبحث شانزدهم مقررات ملی ساختمان دریچه بازدید پیش­بینی می­گردد به طوریکه در داخل ساختمان
                    فاصله دو دریچه بازدید در یک مسیر مستقیم برای لوله 4 اینچ و کمتر از آن 15 متر و برای لوله­های
                    اندازه­های بالاتر، فاصله دو دریچه از 30 متر بیشتر نباشد.

                    درپایین­ترین قسمت لوله­های قائم حدود 30 سانتیمتر بالای کف (در صورت کف­خواب بودن لوله) یک دریچه
                    بازدید از نوع دیواری پیش­بینی می­گردد.

                    اتصالات لوله اعم از نوع زانویی و سه راه و چهارراه از نوع 45 درجه می­باشد. مگر وقتی که فاضلاب از لوله
                    ­های افقی به لوله­های قائم می­ریزد که در این صورت زانویی 90 درجه نیز مجاز است.

                    مبنای محاسبه قطر لوله ­های فاضلاب اولاً حداکثر مصرف لحظه­ای آن بخشی از لوازمی است که فاضلاب آن در
                    لوله جریان می­یابد. این حداکثر مصرف از راه واحد بهداشتی (Fixture Unit) بدست می­آید و ثانیاً
                    استانداردها و جداول معمول برای محاسبه قطر لوله­های فاضلاب می­باشد.

                    آب باران ساختمان پس از جمع­آوری وارد رایزرها (لوله­های قائم آب باران) می­گردند .

                    امکان اتصال آب باران ساختمان به شبکه فاضلاب شهری وجود ندارد و برای دفع آب باران از چاه­های جذبی
                    استفاده می گردد.

                    شیب لوله ­های افقی آب باران در داخل ساختمان 1 تا 2 درصد در نظر گرفته می­شود. شبکه لوله­ کشی آب باران
                    کاملاً مستقل از شبکه دفع فاضلاب طراحی می­شود و هیچ گونه ارتباطی بین این دو شبکه برقرار نخواهد بود.
                </p>
                <img class="another-image-design" src="{{ url_for('static', filename='another_image/decoora-7.jpg') }}">

            </div>



    </section>

    <summary>
        <a href="{{ url_for('user.dashboard', id=service.id) }}">ثبت درخواست</a>

    </summary>




</section>

{% endblock %}