{% extends "base.html" %}

{% block title %}
صفحه ادمین
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/services-page.css') }}">

<section class="header-services-parent">
    <img src="{{ url_for('static', filename='image/design-inside-2.jpg') }}">


    <div class="background-kadr">
        <section class="right-line-jadval">
            <div class="tag-a-parent">
                <a href="{{ url_for('general.home') }}">خانه</a> <span><img
                        src="{{ url_for('static', filename='image/icon-left.jpg') }}"></span>
                <a href="#">خدمات</a> <span><img src="{{ url_for('static', filename='image/icon-left.jpg') }}"></span>

                <a class="service-title-color" href="#">{{ service.title }}</a>
                <!-- چون توی بک اند فقط یک کوِیری رو صدا زدیم پس نیاز به نوشتن حلقه نداره-->
            </div>

            <section class="center-img-article-parent">


                <article>
                    <h3>آنچه در این صفحه میخوانید</h3>
                    <ul>
                        <li><a href="#">راهنمای جامع انتخاب بهترین شرکت طراحی نما</a></li>
                        <li><a href="#">شرکت طراحی نما چیست؟</a></li>
                        <li><a href="#">خدمات اصلی شرکت های طراحی نما</a></li>
                        <li><a href="#">اصول مهم در طراحی نمای ساختمان</a></li>
                        <li><a href="#">استفاده بهینه از انرژی و مصالح پایدار</a></li>

                    </ul>
                </article>

                <div class="decoorasiooon-image">
                    <img src="{{ url_for('static', filename='image/decoorasiooon-2.jpg') }}">
                </div>

            </section>
        </section>


    </div>

    <section class="description-onder-page-parent">
        <div class="description">
            <h2>طراحی نما</h2>

            <div class="caption-1">
                <h3> راهنمای جامع انتخاب بهترین شرکت طراحی نما </h3>

                <p>
                    نمای ساختمان، اولین چیزی است که هر رهگذر، مشتری یا حتی خریدار بالقوه با آن روبه رو می شود. این قاب
                    بیرونی، فقط یک پوشش نیست؛ هویت، ارزش و حتی شخصیت یک ساختمان را فریاد می زند. حالا اگر قرار باشد این
                    چهره، ماندگار و تاثیرگذار باشد، انتخاب یک شرکت طراحی نما که کارش را بلد باشد، به یک تصمیم حیاتی
                    تبدیل می شود. اما در بازاری که پر است از اسم ها و ادعاها، چطور می توان بهترین شرکت طراحی نما را پیدا
                    کرد؟ در ادامه، راهی را پیش پای شما می گذاریم که نه با تبلیغ گویی، بلکه با اطلاعات دقیق، تجربه های
                    واقعی و معیارهای کاربردی، به انتخابی مطمئن برسید.
                </p>
                <img class="another-image-design" src="{{ url_for('static', filename='another_image/decoora-5.jpg') }}">

            </div>

            <div class="caption-2">
                <h3>شرکت طراحی نما چیست؟</h3>

                <p>
                    وقتی از بیرون به یک ساختمان نگاه می کنید، پیش از هر چیز، «چهره» آن است که با شما حرف می زند. این
                    چهره همان نماست؛ لایه ای که علاوه بر ظاهر، هویت، کیفیت ساخت و حتی جایگاه اجتماعی یک پروژه را به
                    تصویر می کشد. به بیانی دیگر شرکت طراحی نما جایی است که این هویت را خلق می کند.

                    یک شرکت طراحی نمای ساختمان تیمی از معماران، طراحان و مهندسین را دور هم جمع می کند تا با ترکیب هنر و
                    دانش فنی، نمایی بسازد که با روح پروژه هم راستا باشد. آن ها وظیفه دارند ایده را از دل خواسته های
                    کارفرما بیرون بکشند، آن را در قالب طرح سه بعدی و نقشه های اجرایی جان بدهند و در عین حال همه ضوابط
                    شهرداری و سازمان نظام مهندسی را رعایت کنند.

                    این شرکت ها فقط معماران زیبایی شناس نیستند. نقش آن ها در فرآیند ساختوساز به قدری پررنگ است که بدون
                    حضورشان، گرفتن مجوز ساخت یا اجرای نمای مطابق استانداردها تقریبا غیرممکن می شود. شرکت معماری طراحی
                    نما علاوه بر خلاقیت هنری، مسئولیت انطباق طرح با مقررات را هم بر دوش دارد؛ از تناسب با بافت شهری
                    گرفته تا مصالح مجاز در منطقه و نحوه مصرف انرژی. لذا انتخاب یک تیم حرفه ای در این حوزه یعنی سرمایه
                    گذاری روی ظاهر و آینده ساختمان. وقتی پای بهترین شرکت طراحی نمای ساختمان وسط باشد، نتیجه کار نه تنها
                    چشم نواز، که ماندگار و ارزش آفرین نیز خواهد بود.
                </p>

                <h4>خدمات اصلی شرکت های طراحی نما</h4>

                <p>یک ساختمان وقتی جان می گیرد که نمای آن با ظرافت و دقت طراحی شود. اما کار یک شرکت طراحی نما ساختمانی
                    فقط ارائه یک تصویر زیبا نیست. خدمات این شرکت ها گسترده و چندلایه است:</p>

                <h4>مشاوره تخصصی طراحی نما</h4>

                <p>پیش از آنکه حتی یک خط از طرح کشیده شود، مشاوره آغاز می شود. در این مرحله، معماران و طراحان با کارفرما
                    گفتگو می کنند، سبک مورد نظر، بودجه، محدودیت های شهرداری و شرایط اقلیمی منطقه را بررسی می کنند. در
                    حقیقت این مشورت ها پایه محکمی برای شروع طراحی را رقم می زنند.</p>

                <img class="another-image-design" src="{{ url_for('static', filename='another_image/decoora-6.jpg') }}">
            </div>


            <summary>
                <a href="{{ url_for('user.dashboard', id=service.id) }}">ثبت درخواست</a>

            </summary>




    </section>

    {% endblock %}