{% extends "base.html" %}

{% block title %}
صفحه ادمین
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">

<div class="service-parent-admin">

    <section class="admin-dashboard-parent">
        <h2>ایجاد سرویس جدید</h2>
        <form action="{{ url_for('admin.dashboard', id=service_id)}}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" name="title" placeholder="عنوان">
            <input type="text" name="description" placeholder="توضیحات">
            <input type="file" name="icon">
            <label for="active">فعال<input type="checkbox" name="active" id="active"></label>
            <input type="submit" value="ثبت سرویس">

        </form>
        <a class="admin-logout-btn" href="{{ url_for('admin.logout') }}">خروج از پنل ادمین</a>
    </section>

    <section class="site-services">

        <h2>سرویس های سایت</h2>

        <div class="service-parent-admin">

            {% for service in services %}

            <div class="service-box">

                <div class="service-image">
                    <img src="{{ url_for('static', filename='cover/' ~ service.id ~ '.jpg') }}"
                        alt="{{ service.title }}">
                </div>

                <div class="service-info">
                    <h3>{{ service.title }}</h3>
                </div>

                <div class="service-actions">

                    <a href="{{ url_for('admin.edit_service', id=service.id) }}" class="edit-btn">
                        ویرایش
                    </a>

                    <a href="{{ url_for('admin.delete_service', id=service.id) }}" class="delete-btn"
                        onclick="return confirm('آیا از حذف این سرویس مطمئن هستید؟')">
                        حذف
                    </a>

                </div>

            </div>

            {% endfor %}

        </div>

    </section>
</div>
</section>

</div>





{% endblock %}