<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">


<footer>
    <section class="sec-parent">
        <div class="logo">
            <img src="{{ url_for('static', filename='image/center-logo-apadana.png') }}" alt="center-logo-image">
        </div>

        <h3><span>📍</span>تهران-اقدسیه-خیابان رسالت-نبش ساختمان تجاریه ایران تجارت </h3>

        <div class="khedemat-link">
            <ul>
                <li><a href="#">خدمات</a></li>
                <li><a href="{{ url_for('general.about') }}">درباره آپادانا</a></li>
                <li><a href="#">پروژه ها</a></li>
                <li><a href="#">بلاگ</a></li>
                <li><a href="#">رویداد ها</a></li>
                <li><a href="#">تماس با ما</a></li>
            </ul>
        </div>

        <div class="tamas-link">
            <a href="tel:+989125001000" dir="rtl">
                <img src="{{ url_for('static', filename='footer_image/call.png') }}" alt="call">
                تلفن :
                 1000 500 0912
            </a>

            <a href="mailto:info@example.com">
                <img src="{{ url_for('static', filename='footer_image/email.png') }}" alt="email">
                ایمیل :
                 info@example.com
            </a>

            <a href="https://wa.me/989121234567" target="_blank">
                <img src="{{ url_for('static', filename='footer_image/whatsup.png') }}" alt="whatsup">
                واتساپ
            </a>
        </div>

        <div class="image-tamas-link">
            <img src="{{ url_for('static', filename='footer_image/insta.png') }}" alt="insta">
            <img src="{{ url_for('static', filename='footer_image/telegarm.png') }}" alt="telegarm">
            <img src="{{ url_for('static', filename='footer_image/aparat.png') }}" alt="aparat">
            <img src="{{ url_for('static', filename='footer_image/linkdin.png') }}" alt="linkdin">
            <img src="{{ url_for('static', filename='footer_image/namasha.png') }}" alt="namasha">

        </div>


    </section>
</footer>