<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

<div class="banner-img-header">
    <img src="{{ url_for('static', filename='image/banner.jpg') }}" alt="apadana-building-banner">
</div>

<div class="rezomeh-file-parent">
        <a class="rezomeh-file" href="{{ url_for('static', filename='files/resume.pdf') }}" download>

            <span><img src="{{ url_for('static', filename='image/download-logo.png') }}"></span>     <span class="matn-rezomeh">دریافت رزومه</span>
        </a>
    </div>

<div class="center-logo-header">
    <img src="{{ url_for('static', filename='image/center-logo-apadana.png') }}" alt="apadana-building-logo-center">
</div>

<header>
    <a class="apadana-logo-link" href="{{ url_for('general.home') }}">
    <div class="logo">
        <img src="{{ url_for('static', filename='image/apadana-logo-no-name.png') }}" alt="">
    </div>
    </a>

    <nav>
        <ul>
            <li><a href="#">خدمات</a></li>
            <li><a href="#">درباره آپادانا</a></li>
            <li><a href="#">پروژه ها</a></li>
            <li><a href="#">بلاگ</a></li>
            <li><a href="#">رویداد ها</a></li>
            <li><a href="#">تماس با ما</a></li>
        </ul>
    </nav>

    <a href="{{ url_for('user.register') }}" class="header-btn">ثبت نام</a>
</header>