<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


<section id="main_page_1">
    <section class="main-page-parent">
        <div class="main-rezomeh-page">

            <h2>میرجاوه</h2>

            <table>
                <tr>
                    <th>نوع پروژه :</th>
                    <th>مساحت کل :</th>
                    <th>مکان :</th>
                    <th>کارفرما :</th>
                </tr>

                <tr>
                    <td>صنعتی</td>
                    <td>60000 متر مربع</td>
                    <td>میرجاوه - زاهدان</td>
                    <td>کشت و صنعت مژده</td>
                </tr>
            </table>

            <div class="images-parent">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-1.png') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-2.jpg') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-3.jpg') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-4.jpg') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-5.png') }}" alt="mirjaveh">
            </div>

        </div>

    </section>


</section>







<section id="main_page_2">

    <section class="main-page-parent">
        <div class="main-rezomeh-page">

            <h2>آبادان</h2>

            <table>
                <tr>
                    <th>نوع پروژه :</th>
                    <th>مساحت کل :</th>
                    <th>مکان :</th>
                    <th>کارفرما :</th>
                </tr>

                <tr>
                    <td>صنعتی</td>
                    <td>60000 متر مربع</td>
                    <td>میرجاوه - زاهدان</td>
                    <td>کشت و صنعت مژده</td>
                </tr>
            </table>

            <div class="images-parent">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-1.png') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-2.jpg') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-3.jpg') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-4.jpg') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-5.png') }}" alt="mirjaveh">
            </div>

        </div>

    </section>

</section>







<section id="main_page_3">

    <section class="main-page-parent">
        <div class="main-rezomeh-page">

            <h2>شیراز</h2>

            <table>
                <tr>
                    <th>نوع پروژه :</th>
                    <th>مساحت کل :</th>
                    <th>مکان :</th>
                    <th>کارفرما :</th>
                </tr>

                <tr>
                    <td>صنعتی</td>
                    <td>60000 متر مربع</td>
                    <td>میرجاوه - زاهدان</td>
                    <td>کشت و صنعت مژده</td>
                </tr>
            </table>

            <div class="images-parent">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-1.png') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-2.jpg') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-3.jpg') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-4.jpg') }}" alt="mirjaveh">
                <img class="preview" src="{{ url_for('static', filename='main_image/mirjaveh-5.png') }}" alt="mirjaveh">
            </div>

        </div>

    </section>


</section>

<div id="button-parent">
    <button onclick="next()" id="next_page">بعدی</button>
    <button onclick="back()" id="back-page">قبلی</button>
</div>






<section class="main_2_parent">
    <h3>برخی از مشتریان ما</h3>
    <div class="images-parent">

        <img class="img-slide" src="{{ url_for('static', filename='main_image_2/pic1.png') }}">
        <img class="img-slide" src="{{ url_for('static', filename='main_image_2/pic2.png') }}">
        <img class="img-slide" src="{{ url_for('static', filename='main_image_2/pic3.png') }}">
        <img class="img-slide" src="{{ url_for('static', filename='main_image_2/pic4.png') }}">
    </div>

</section>








<script>

    var pages = [
        document.getElementById("main_page_1"),
        document.getElementById("main_page_2"),
        document.getElementById("main_page_3")
    ];

    var index = 0;

    function showPage() {

        for (let i = 0; i < pages.length; i++) {
            pages[i].style.display = "none";
        }

        pages[index].style.display = "block";
    }

    showPage();

    function next() {
        index = (index + 1) % pages.length;
        showPage();
    }

    function back() {
        index = (index - 1 + pages.length) % pages.length;
        showPage();
    }

</script>



<!-- کلیک روی تصاویر برای بزرگ شدن-->
<script>
    const images = document.querySelectorAll(".preview");

    images.forEach(img => {
        img.onclick = function () {
            window.open(this.src, "_blank");
        }
    });
</script>




<script>
    const images_move = [
        "{{ url_for('static', filename='main_image_2/pic1.png') }}",
        "{{ url_for('static', filename='main_image_2/pic2.png') }}",
        "{{ url_for('static', filename='main_image_2/pic3.png') }}",
        "{{ url_for('static', filename='main_image_2/pic4.png') }}",
        "{{ url_for('static', filename='main_image_2/pic5.png') }}",
        "{{ url_for('static', filename='main_image_2/pic6.png') }}",
        "{{ url_for('static', filename='main_image_2/pic7.png') }}",
        "{{ url_for('static', filename='main_image_2/pic8.png') }}",
        "{{ url_for('static', filename='main_image_2/pic9.png') }}",
        "{{ url_for('static', filename='main_image_2/pic10.png') }}",
        "{{ url_for('static', filename='main_image_2/pic11.png') }}",
        "{{ url_for('static', filename='main_image_2/pic12.png') }}"
    ];

    const allSlides = document.querySelectorAll(".img-slide");

    allSlides.forEach((slide, startPosition) => {
        let Index = startPosition; 

        slide.src = images_move[Index];

        setInterval(() => {

            slide.style.opacity = 0;

            setTimeout(()=> {

                Index = (Index + 1) % images_move.length;
                slide.src = images_move[Index];
                slide.style.opacity = 1
            }, 800)
        }, 5000);
    });
</script>