<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شرکت مهندسین آپادانا</title>
    {% block header %}
    {% endblock %}
</head>

<body>


    {% include "part/header.html" %}

    {% include "part/flash_message.html" %}


    

        {% block body %}
                
        {% endblock %}

    


    {% if request.endpoint != 'user.login'
    and request.endpoint != 'user.dashboard'
    and request.endpoint != 'user.register'
    and request.endpoint != 'user.profile'
    and request.endpoint != 'admin.login'
    and request.endpoint != 'admin.dashboard'
    and request.endpoint != 'admin.edit_service'
    and request.endpoint != 'admin.requset_users'
    and request.endpoint != 'admin.request_users_append' %}

        {% block footer %}
            {% include "part/footer.html" %}
        {% endblock %}
    {% endif %}

</body>

</html>