{% extends "base.html" %}

{% block title %}
صفحه ادمین
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/services-page.css') }}">

<section class="header-services-parent">
    <img src="{{ url_for('static', filename='image/design-inside.jpg') }}">


    <div class="background-kadr">
        <section class="right-line-jadval">
            <div class="tag-a-parent">
                <a href="{{ url_for('general.home') }}">خانه</a> <span><img
                        src="{{ url_for('static', filename='image/icon-left.jpg') }}"></span>
                <a href="#">خدمات</a> <span><img src="{{ url_for('static', filename='image/icon-left.jpg') }}"></span>

                <a class="service-title-color" href="#">{{ service.title }}</a>
                <!-- چون توی بک اند فقط یک کوِیری رو صدا زدیم پس نیاز به نوشتن حلقه نداره-->
            </div>

            <section class="center-img-article-parent">


                <article>
                    <h3>آنچه در این صفحه میخوانید</h3>
                    <ul>
                        <li><a href="#">تعریف دقیق طراحی داخلی</a></li>
                        <li><a href="#">وظایف طراح داخلی</a></li>
                        <li><a href="#">انواع طراحی داخلی از نظر کاربری ساختمان</a></li>
                        <li><a href="#">تفاوت در دکوراسیون داخلی و طراحی معماری در چیست؟</a></li>
                        <li><a href="#">عناصر مهم و کلیدی در طراحی داخلی</a></li>

                    </ul>
                </article>

                <div class="decoorasiooon-image">
                    <img src="{{ url_for('static', filename='image/decoorasiooon.jpg') }}">
                </div>

            </section>
        </section>


    </div>

    <section class="description-onder-page-parent">
        <div class="description">
            <h2>طراحی دکوراسیون داخلی</h2>

            <div class="caption-1">
                <h3> تعریف دقیق طراحی داخلی</h3>

                <p>طراحی داخلی یک عمل برنامه ریزی شده ای بوده که ترکیب مهندسی و هنر می باشد و پس از تکمیل مراحل
                    طراحی سازه، طراحی تاسیسات ساختمان و ... انجام می شود. در این مرحله طراح، به جزئیات فضای داخلی
                    همچون نورپردازی، تزئینات، مبلمان می پردازد.

                    بطور کلی در طراحی داخلی و یا معماری داخلی وظیفه یک طراح، زیبایی جویی در کنار عملکرد و کاربرد می
                    باشد.

                </p>
            </div>

            <div class="caption-2">
                <h3>وظایف طراح داخلی</h3>

                <p>وظایف یک طراح در طراحی داخلی و یا معماری داخلی، شامل فراهم کردن یک طرح اولیه به همراه جلسات و
                    ملاقات های پی در پی با کار فرمایان می باشد تا از تمامی خواسته ها و نیاز های آنها مطلع شده و در
                    مورد امکان اجرایی بودن و یا نبودن آنها بحث کرده و ضمن گفت و گو و تبادل نظر، ایده های جدیدی را
                    نیز مطرح کند.

                    پیرو این جلسات طراح باید با استفاده از نرم افزار ها رندر گرفته و تمامی جوانب طراحی داخلی و یا
                    معماری داخلی من جمله بحث مهم ایمنی را نیز در نظر بگیرد.
                </p>

            </div>


            <div class="caption-3">
                <h3> انواع طراحی داخلی از نظر کاربری ساختمان</h3>

                <p>کاربری ساختمان نوعی مجوز از طرف شهرداری است که تعیین کننده نوع و هدف استفاده از آن ساختمان است.
                </p>
                <h4>مسکونی</h4>
                <p>هدف از این نوع کاربری اسکان موقت و یا دائم خانواده ها می­باشد که این پروژه ها شامل اتاق آشپزخانه
                    و .... می­باشند . شایان ذکر است که راحتی و آسایش ساکنین در این پروژه ها مهمترین اولویت است.
                    بنابراین در طراحی داخلی ساختمان و یا معماری داخلی، می­بایست به راحتی، آسایش نورپردازی و ....
                    متناسب با طریقه زندگی یک خانواده پرداخته شود.</p>
                <img class="another-image-design" src="{{ url_for('static', filename='another_image/decoora.jpg') }}">
                <h4> تجاری</h4>
                <p>در این نوع کاربری، طبق قانون اشخاصی که صلاحیت حقیقی و حقوقی (تاجران، کاسبان و ....) داشته به
                    معامله و داد و ستد می ­پردازند. در این نوع ساختمان ها چیدمان و رنگ پردازی ها با هدف جلب توجه
                    مشتری انجام می­پذیرد.</p>
                <h4>خرده فروشی (مراکز خرید، فروشگاه ها)</h4>
                <p>رنگ ها و نورپردازی های مناسب و خاص به همراه چیدمان های جالب در طراحی های داخلی ساختمان ها و یا
                    معماری داخلی پروژه ها تاثیر مستقیمی بر بازار خرید به دلایل متعددی همچون جلب نظر مشتریان خواهد
                    داشت.</p>
                <img class="another-image-design" src="{{ url_for('static', filename='another_image/decoora-2.jpg') }}">

            </div>

            <div class="caption-4">
                <h3>تفاوت در دکوراسیون داخلی و طراحی معماری در چیست؟</h3>
                <p>دکوراسیون داخلی شامل رنگ ها، بافت ها، اشکال و اثاثیه و اشیاء داخل فضا و طراحی و هماهنگی و چیدمان
                    آن هاست. در واقع دکوراسیون داخلی هنر مبلمان کردن یک معمار است. چیدمان فضای داخلی اثر مستقیم بر
                    احوالات و شخصیت افراد استفاده کننده دارد. هدف اصلی از دکوراسیون داخلی بهبود عملکرد فیزیکی و
                    روانی فضای داخلی برای زندگی انسان است. در حالی که طراحی معماری علاوه بر ملاک های ظاهری ساختمان
                    به کاربردی بودن فضاها نیز توجه ویژه ای دارد.

                    برای طراحی دکوراسیون داخلی توجه به 3 اصل دیوار، کف و سقف بسیار حائز اهمیت است.
                </p>
                <h4> طراحی دیوار</h4>
                <p> برای طراحی دیوار (wall decoration) به جای تمرکز روی همه ی دیوار ها بهتر است روی یک دیوار متمرکز
                    شوید.

                    - دیواری را انتخاب کنید که بیشترین دید را در فضای شما دارد. </p>
                <h4> طراحی کف</h4>
                <p>- یکی از مهم ترین قسمت ها در دکوراسیون داخلی کف سازیست.

                    - نوع، جنس، رنگ، طرح، تلفیق نور و .... بزرگترین جلوه را در طراحی دکوراسیون داخلی شما بازی می
                    کنند.

                    - در کف سازی حتما به کاربری فضا توجه کنید. محیط های تجاری، اداری، مغازه، مسکونی، کافی شاپ،
                    رستوران و ... نوع خاصی از کف سازی را طلب می کنند.

                    به یاد داشته باشید لازم نیست خودتان را به یک نوع خاص محدود کنید. چوب، کاشی، سنگ، سرامیک، پارکت،
                    کفپوش، فوم، تخته، فرش، قالیچه، ونیل یا لینئوم و .... همه و همه می توانند انتخاب های شما باشند.

                </p>
                <h4>طراحی سقف</h4>
                <p>طراحی سقف نیز مانند سایر سطوح خانه از اهمیت بالای برخوردار است. مهندسین مشاور از طرح ها و رنگ های
                    جذاب برای برای طراحی سقف به عنوان یک سازه کاذب استفاده می کنند.

                    سقف کاذب به اسکلت اصلی ساختمان متصل است و بار آن به سازه اصلی وارد می شود و پایینتر از سقف اصلی قرار
                    می گیرد و می تواند معایب سقف اصلی را بپوشاند و منبع نور مخفی و یا غیر مخفی فضا را تامین کند، اما
                    استفاده از آن در فضاهایی با ارتفاع کوتاه توصیه نمی شود. </p>
                <img class="another-image-design" src="{{ url_for('static', filename='another_image/decoora-3.jpg') }}">

            </div>

            <div class="caption-5">
                <h3> عناصر مهم و کلیدی در طراحی داخلی</h3>
                <h4> نقشه</h4>
                <p>در طراحی داخلی و یا معماری داخلی نقشه ها، با توجه به در نظر گرفتن عناصر مهم طراحی داخلی که شامل فضا،
                    خط، فرم، نور، رنگ، بافت و طرح و الگو می باشد، می بایست به دنبال افزایش راندمان و کاربرد ها در کنار
                    زیبایی جویی فضای داخلی باشیم.</p>
                <h4>نور</h4>
                <p>در طراحی داخلی و یا معماری داخلی، نور با عناصر دیگر همچون رنگ، بافت و طرح در هم تنیده بوده و از اهمیت
                    فراوانی برخوردار می­باشد و همچنین بر احساس و جو فضا، بهره وری و .... اثرگذار است. نورپردازی نقش مهمی
                    در طراحی داخلی دارد. اهمیت نورپردازی در طراحی داخلی درست مانند انتخاب رنگ، اندازه ی اتاق، انتخاب جنس
                    و طرح اثاثیه مهم است و همه ی اینها در کنار هم یک طراحی داخلی کامل را تشکیل می دهند.

                    نور با عناصر دیگر همچون رنگ، بافت و طرح مرتبط می باشد. نور است که در طراحی داخلی و یا معماری داخلی
                    فضا را به محلی برای زندگی تبدیل می کند، بنابراین می بایست در انتخاب جای و مکان در و پنجره ها جهت نور
                    طبیعی دقت فراوان داشت.

                    در خصوص نور های مصنوعی می بایست به کاربری ساختمان بدلیل تاثیر مستقیم نور بر حال و هوای محیط توجه
                    داشت.</p>
                    <img class="another-image-design" src="{{ url_for('static', filename='another_image/decoora-4.jpg') }}">


            </div>


        </div>
    </section>

    <summary>
       <a href="{{ url_for('user.dashboard', id=service.id) }}">ثبت درخواست</a>
        
    </summary>




</section>

{% endblock %}