{% extends "base.html" %}

{% block title %}
    صفحه ادمین
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_login.css') }}">


    <section class="register-form">
        <h2>ثبت نام</h2>
        <form action="{{ url_for('user.register') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" name="fullname" placeholder="نام و نام خانوادگی"><br>
            <input type="number" name="phone" placeholder="شماره موبایل"><br>
            <input type="email" name="email" placeholder="ایمیل (اختیاری) "><br>
            <input type="password" name="password" placeholder="رمز عبور"><br>
            <input type="password" name="password_2" placeholder="تکرار رمز عبور"><br>

            <input type="submit" value="ثبت نام">

            <span onclick="show_login()">
                قبلا ثبت نام کرده اید؟</span>
        </form>

    </section>

    <section class="login-form">
        <h2>ورود</h2>
        <form action="{{ url_for('user.login') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="number" name="phone" placeholder="شماره موبایل"><br>
            <input type="password" name="password" placeholder="رمز عبور"><br>

            <input type="submit" value="ورود">
            <span onclick="show_register()"
            >ثبت نام نکرده اید؟
        </span>
        </form>
    </section>


    <script>
        const register_form = document.querySelector(".register-form")
        const login_form = document.querySelector(".login-form")

        login_form.style.display = 'none'

        function show_login(){
            register_form.style.display = 'none'
            login_form.style.display = 'block'
        }

        function show_register(){
            login_form.style.display = 'none'
            register_form.style.display = 'block'
        }

    </script>



   
{% endblock %}