{% extends "base.html" %}

{% block title %}
    صفحه ادمین
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_login.css') }}">


    <section class="register-form">
        <h2>ثبت نام</h2>
        <form action="{{ url_for('user.register') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" name="fullname" placeholder="نام و نام خانوادگی"><br>
            <input type="number" name="phone" placeholder="شماره موبایل"><br>
            <input type="email" name="email" placeholder="ایمیل"><br>
            <input type="password" name="password" placeholder="رمز عبور"><br>
            <input type="password" name="password_2" placeholder="تکرار رمز عبور"><br>

            <input type="submit" value="ثبت نام">
        </form>

    </section>

    <section class="login-form">
        <h2>ورود</h2>
        <form action="{{ url_for('user.login') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="number" name="phone" placeholder="شماره موبایل"><br>
            <input type="password" name="password" placeholder="رمز عبور"><br>

            <input type="submit" value="ورود">
        </form>
    </section>



   
{% endblock %}