{% extends "base.html" %}

{% block title %}
صفحه ادمین
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">



<section class="user-parent">

    <div class="dashboard-actions">

        <a href="{{ url_for('user.profile') }}" class="action-btn">
            ✏️ ویرایش اطلاعات
        </a>

        <a href="{{ url_for('user.want_services') }}" class="action-btn">
            ➕ ثبت درخواست جدید
        </a>

    </div>

    <h2>صفحه کاربری <span>{{ current_user.fullname }}</span></h2>

    {% if requests %}
    {% for service in requests %}

    <div class="user-parent-inside">

        <div>
            {{ service.service.title }}
        </div>

        <div>
            <strong>آدرس:</strong>
            {{ service.address }}
        </div>

        <div>
            <strong>توضیحات :</strong>
            {{ service.description }}
        </div>

        <div class="images-parent">
            <strong>عکس ها :</strong>

            {% for image in service.request_images %}
            <img class="preview" src="{{ url_for('static', filename='u_r_cover/' ~ image.image_path) }}">
            {% endfor %}
        </div>

        <div class="status-parent">
            <strong>وضعیت:</strong>

            {% if service.status == "pending" %}
            <p class="status pending">🟡 در حال بررسی</p>

            {% elif service.status == "accept" %}
            <p class="status accepted">🟢 تأیید شده</p>

            {% elif service.status == "reject" %}
            <p class="status rejected">🔴 رد شده</p>
            {% endif %}
        </div>


        {% if service.status == "pending" %}
        <form action="{{ url_for('user.delete_service', id=service.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="delete-btn" onclick="return confirm('آیا از حذف این سرویس خود مطمئن هستید ؟')">
                حذف
            </button>
        </form>
        {% endif %}

    </div>

    {% endfor %}


</section>
{% else %}

<div class="empty-box">

    هیچ درخواست سرویسی وجود ندارد . 🙂

</div>

{% endif %}




<a class="logout-btn" href="{{ url_for('user.logout') }}"
    onclick="return confirm('آیا مطمئن هستید از خروج از حساب خود ؟')">
    خروج از حساب
</a>


<script>
    const images = document.querySelectorAll(".preview");

    images.forEach(img => {
        img.onclick = function () {
            window.open(this.src, "_blank");
        }
    });
</script>

{% endblock %}